@font-face {
    font-family: 'Aargau';
    font-style: normal;
    src: url('./Aargau-Medium.ttf');
}
@font-face {
    font-family: 'Great Day';
    font-style: normal;
    src: url('./Great Day.ttf');
}

:root {
    --aargau: 'Aargau';
    --great-day: 'Great Day';
}