:root {
	--primary-red: #b01218;
	--secondary-red: #DF3D3D;
	--tertiary-red: #ef767b;
	--primary-purple: #2a2a71;
	--primary-gray: #3b3b3b;
	--secondary-gray: #9c97ac;
	--primary-dark-gray: #403f46 ;
	--primary-light-gray: #9d9d9c;
}
