@import "../../../shared/assets/Fonts/fonts";
@import "../../../shared/assets/CSS/colors.css";

.Career{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
}

.Career h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 10px 0;
}

.DropDown{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.DropDown_Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    background-color:white;
    border-radius: 12px 12px 0 0;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    padding: .5rem .5rem;
    color: rgb(141, 141, 141);
    transition: all 0.3s linear;
}


.DropDown_Main div img {
    width: 22px;
}

.menu ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease-in-out;
}
.menuItem .subMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: transform 0.3s linear;
}
.menuItem:hover .subMenu {
    transform: rotateX(0deg);
}
.menuItem span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: .5rem .5rem;
    color: rgb(141, 141, 141);
    border-bottom: 1px solid#c9c9c9;
    background-color: white !important;
}


@media (min-width: 768px) {
    .menuItem a {
        font-size: 1rem;
   }
}

.Form{
    background-color: #f5f5f5;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin-top: 10px;
}

.FormContainer{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.Left, .Right {
    width: 49%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.FormElement {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px 0;
}

.FormElement input, .FormElement textarea{
    display: block;
    width: 90%;
    padding: .8rem .8rem;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    font: inherit;
}
.menu label , .FormElement p{
    font-size: .85rem;
    color: var(--primary-red);
}

.Form a{
    display: block;
    padding:  .7rem 4rem ;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-purple);
    font-size: 1.1rem;
    cursor: pointer;
}

.CVFormElement {
    width: 90%;
    padding: .8rem .8rem;
    background-color:white;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CVFormElement div {
    background-color:white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #c9c9c9;
    padding: 1.5rem;
}
.CVFormElement div img {
    width: 30px;
}
 .CVFormElement span {
    margin-left: 15px;
    font-weight: bold;
}