@font-face {
    src: url(../fonts/ufonts.com_aargau-regular.ttf);
    font-family: myFirstFont;
}
@font-face {
    src: url(../fonts/Gotham-Light.otf);
    font-family: mysecondfont;
}
@font-face {
    src: url(../fonts/Gotham-Bold.otf);
    font-family: myThirdFont;
}
@font-face {
    src: url(../fonts/Arial\ regular.ttf);
    font-family: arial-regular;
}
@font-face {
    src: url(../fonts/Great\ Day\ Personal\ Use.ttf);
    font-family: greatday;
}
@font-face {
    src: url(../fonts/GothamMedium.ttf);
    font-family: gothamMedium;
}
@font-face {
    src: url(../fonts/Aargau-Medium.ttf);
    font-family: argau-medium;
}
.row {
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 90vw;
}
.digitialization {
    flex: 0.5;
    font-size: 24px;
    transition: 0.5s ease;
    width: 40%;
}
.digi-head {
    font-size: 74px;
    font-family: myFirstFont;
    color: #df3d3d;
}
.make-your-future {
    font-family: mySEcondFont;
    font-size: 26px;
    line-height: 9px;
    margin-top: 15px;
}
.digitia-para {
    font-size: large;
    color: #454545;
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
}
.btn-explore {
    padding: 5px 10px;
    display: block;
    color: #ffffff;
    background: #362869;
    border: 2px solid #362869;
    width: 200px;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background 0.4s ease;
}
.btn-explore:hover {
    background: transparent;
    color: #362869;
}
.play-img {
    margin-bottom: -60px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.image-paly-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.footer-bg {
    background: #362869;
}
.digital-image img {
    width: 40vw;
}
.btn {
    margin-top: -20px;
}

@media (max-width: 1200px) {
    .digitialization {
        font-size: 24px;
    }
    .make-your-future {
        font-size: 24px;
    }
    .play-img {
        margin-bottom: -70px;
        margin-left: 10px;
        width: 70px;
        height: 70px;
    }
    .btn-explore {
        width: 250px;
    }
    .digital-image img {
        width: 400px;
    }
}

@media (max-width: 1020px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
        margin-top: 20px;
        width: 80%;
    }
    .digitialization {
        width: 80vw;
    }
    .digi-head {
        font-size: 50px;
    }
    .make-your-future {
        font-size: 22px;
    }
    .digitia-para {
        font-size: 20px;
    }
    .play-img {
        margin-bottom: -65px;
        margin-left: 5px;
        width: 65px;
        height: 65px;
    }
    .btn-explore {
        padding: 10px;
        width: 200px;
        margin-bottom: 30px;
    }
    .digital-image img {
        width: 75vw;
    }
}
@media (max-width: 410px) {
    .digitialization {
        font-size: 16px;
    }
    .digi-head {
        font-size: 40px;
    }
    .make-your-future {
        font-size: 5vw;
    }
    .digitia-para {
        font-size: 4vw;
    }
    .play-img {
        margin-bottom: -55px;
        margin-left: 10px;
        width: 55px;
        height: 55px;
    }
    .btn-explore {
        padding: 10px;
        width: 170px;
        margin-bottom: 30px;
    }
    .digital-image img {
        width: 80vw;
    }
}
